In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#create a new dataframe from a python dictionary
data = {
    'Name' : ['John', 'Jane', 'Michael','Emily', 'David'],
    'Math': [85, 92, 78, np.nan, 88], #notice that Emily's Math score is null
    'Science' : [78, 45, 85, 91, 82] #there is a failing score in the science column

}

df = pd.DataFrame(data);
df

NameError: name 'pd' is not defined